<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="../static/css/jump.css">
    <meta charset="UTF-8">
    <title>🌞</title>
</head>
<body>
<form class="bounce">
    <div class="bounce">
        <a href="{{ url_for('image.watermark_upload') }}" class="bounce new button">
            <span class="letter">我</span>
            <span class="letter">的</span>
            <span class="letter">主</span>
            <span class="letter">页</span>
        </a>
    </div>
</form>

</body>
</html>