<!DOCTYPE html>
<html lang="en">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/jump.css') }}">
    <title>重启服务</title>
</head>
<body class="bounce">
    <a href="{{ url_for('productJar.product') }}">
        <input type="submit" value="返回" class="button red" style="float: left;">
    </a>
<form>
    <input type="submit" name="reload" value="v8.6" class="button red" formmethod="post">
    <!-- <input type="submit" name="reload" value="v8.8" class="button red" formmethod="post"> -->
    <input type="submit" name="reload" value="v9.0" class="button red" formmethod="post">
    <!-- <input type="submit" name="reload" value="v9.1" class="button red" formmethod="post"> -->
    <input type="submit" name="reload" value="v9.2" class="button red" formmethod="post">
    <input type="submit" name="reload" value="v9.2.1" class="button red" formmethod="post">
    <input type="submit" name="reload" value="develop" class="button red" formmethod="post">
</form>
</body>
</html>