<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/jump.css') }}">
    <meta charset="UTF-8">
    <title>重启服务</title>
</head>
<body class="bounce">
<form>
    <input type="submit" name="reload" value="v8.6" class="button red" formmethod="post">
    <input type="submit" name="reload" value="v8.8" class="button red" formmethod="post">
    <input type="submit" name="reload" value="v9.0" class="button red" formmethod="post">
    <input type="submit" name="reload" value="v9.1" class="button red" formmethod="post">
    <input type="submit" name="reload" value="v9.2" class="button red" formmethod="post">
    <input type="submit" name="reload" value="v9.2.1" class="button red" formmethod="post">
    <input type="submit" name="reload" value="develop" class="button red" formmethod="post">
</form>
</body>
</html>