html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    /*background: #2d303a;*/
    /* overflow-y: hidden; */
}

.but {
    display: inline-block;
    width: 160px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #BE1A21;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    white-space: nowrap;
}

/*隐藏默认样式*/
input[id=file] {
    margin-left: -2000px;
    height: 0;
}

.button {
    width: 140px;
    line-height: 38px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    border-radius: 5px;
    margin: 0 20px 20px 0;
    position: relative;
    overflow: hidden;
}

.button.red {
    border: 1px solid #b42323;
    box-shadow: 0 1px 2px #e99494 inset, 0 -1px 0 #954b4b inset, 0 -2px 3px #e99494 inset;
    background: -webkit-linear-gradient(top, #d53939, #b92929);
    background: -moz-linear-gradient(top, #d53939, #b92929);
    background: linear-gradient(top, #d53939, #b92929);
}

.mytxt {
    color: #333;
    line-height: normal;
    font-family: "Microsoft YaHei", Tahoma, Verdana, SimSun;
    font-style: normal;
    font-variant: normal;
    font-size-adjust: none;
    font-stretch: normal;
    font-weight: normal;
    padding: 4px;
    font-size: 15px;
    outline: invert none medium;
    border-radius: 3px;
    text-shadow: 0px 1px 2px #fff;
    background-attachment: scroll;
    background-repeat: repeat-x;
    background-position-x: left;
    background-position-y: top;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    background-color: rgb(255, 255, 255);
    margin: 0px 8px 0px 0px;
    border-top-color: #ccc;
    border-right-color: #ccc;
    border-bottom-color: #ccc;
    border-left-color: #ccc;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}

.button.blue {
    border: 1px solid #1e7db9;
    box-shadow: 0 1px 2px #8fcaee inset, 0 -1px 0 #497897 inset, 0 -2px 3px #8fcaee inset;
    background: -webkit-linear-gradient(top, #42a4e0, #2e88c0);
    background: -moz-linear-gradient(top, #42a4e0, #2e88c0);
    background: linear-gradient(top, #42a4e0, #2e88c0);
}

.side:after {
    position: absolute;
    display: inline-block;
    content: "\00bb";
    top: 3px;
    right: -4px;
    width: 38px;
    height: 30px;
    font-weight: normal;
    line-height: 26px;
    border-radius: 0 0 5px 5px;
    text-shadow: -2px 0 1px #333;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.blue.side:after {
    border-top: 1px solid #1971a8;
    box-shadow: -2px 0 1px #559dca inset;
    background: -webkit-linear-gradient(right, #2482bd, #3fa2e0 60%);
    background: -moz-linear-gradient(right, #2482bd, #3fa2e0 60%);
    background: linear-gradient(right, #2482bd, #3fa2e0 60%);
}

.bounce {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    height: 100%;
    font: normal bold 6rem "Product Sans", sans-serif;
    white-space: nowrap;
    /* 文本不换行 */
}

.exa {
    /*{#width: 100%;#} */
    height: 600px;
    object-fit: cover;
}

.new {
    background: #2d303a;
    border: none;
    color: #fff;
}

.bounce {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    height: 100%;
    font: normal bold 6rem "Product Sans", sans-serif;
    white-space: nowrap;
    /* 文本不换行 */
}

.letter {
    animation: bounce 0.75s cubic-bezier(0.05, 0, 0.2, 1) infinite alternate;
    display: inline-block;
    transform: translate3d(0, 0, 0);
    margin-top: 0.5em;
    text-shadow: rgba(255, 255, 255, 0.4) 0 0 0.05em;
    font: normal 500 6rem 'Varela Round', sans-serif;
}

.letter:nth-child(1) {
    animation-delay: 0s;
}

.letter:nth-child(2) {
    animation-delay: 0.0833333333s;
}

.letter:nth-child(3) {
    animation-delay: 0.1666666667s;
}

.letter:nth-child(4) {
    animation-delay: 0.25s;
}

@keyframes bounce {
    0% {
        transform: translate3d(0, 0, 0);
        text-shadow: rgba(255, 255, 255, 0.4) 0 0 0.05em;
    }
    100% {
        transform: translate3d(0, -1em, 0);
        text-shadow: rgba(255, 255, 255, 0.9) 0 1em 0.35em;
    }
}
a {
    text-decoration: none
}